<!DOCTYPE html>
<html>
    <head>
        <title>dl-repo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
            .container {
                max-width: 600px;
                padding-top: 100px;
            }
            h2 {color: red;}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">dl-repo!</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>           
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>      
        <div class="container" style="padding-top:250px">
            <form class="form-inline" action="/download" method="get">                
                <div class="form-group">                              
                    <input type="text" class="form-control" aria-label="..." value="repository URL" name="url" size="50">
                </div>
                <div class="form-group">
                    <select class="form-control" name="compression">
                        <option>zip</option>
                        <option>7z</option>
                        <option>tar.bz2</option>
                        <option>tar.gz</option>
                    <select>    
                </div>
                <button class="btn btn-primary" type="submit">Download</button>
            </form>     
            <label>Enter git ssh clone url to download</label><br/>
            <label>Example: git@github.com:mitsuhiko/flask.git</label><br/>
            <label>You must have your ssh keys configured correctly</label>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="static/dl-repo.js"></script>
    </body>
</html>